@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
	height: 100%;
	font-family: "Lato", sans-serif;
	background: #bbbbbb;
	font-size: 17px;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: rgb(138, 43, 226);
}
h1 {
	text-transform: uppercase;
}
p {
	line-height: 24px;
	font-style: italic;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 1080px;
	height: 100%;
	margin: 0 auto;
}
.header {
	display: flex;
	justify-content: space-between;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 0 20px;
	background: linear-gradient(to bottom right,#009dda, #00a8e7, #00b3f3, #00bfff, #2dcbff, #44d7ff, #56e2ff);
}
.header__header {
	font-size: 36px;
}
.header__list {
	list-style: none;
	display: inline-flex;
	width: 50%;
	justify-content: space-between;
}
.header__list li {
	align-self: center;
	text-transform: uppercase;
}
.header__list li a {
	text-decoration: none;
	color: #fff;
}
.header__list li a:hover {
	text-shadow: 2px 3px #000;
}
.header__item1 img {
	height: 50px;
}
.header__item2 img {
	height: 50px;
}
.header__item3 img {
	height: 50px;
}
.content {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 20px;
	margin-top: 10px;
	background: linear-gradient(to bottom left, #56e2ff, #44d7ff, #2dcbff, #00bfff, #00b3f3, #00a8e7, #009dda)
}
.skills {
	flex: 0 1 50%;
}
.skills__header {
}
.skills__list {
	font-size: 50px;
}
.skills__item1 {
}
.skills__item2 {
}
.skills__item3 {
}
.skills__item4 {
}
.photo {
	flex: 0 1 50%;
}
.photo img {
	height: 400px;
	border-radius: 50%;
}
.photo__item {
}
.about {
	flex: 0 1 100%;
}
.about__header {
}
.about__text {
}
.code {
	flex: 0 1 50%;
}
.code__header {
}
.code__area {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 5px;
	background: rgb(223, 223, 223);
	padding: 5px;
}
.code__item {
	color: rgb(253, 2, 98);
}
.work {
	flex: 0 1 50%;
}
.work__header {
}
.work__text {
}
.edu {
	flex: 0 1 50%;
}
.edu__header {
}
.edu__text {
}
.eng {
	flex: 0 1 50%;
}
.eng__header {
}
.eng__text {
}
.footer {
	display: flex;
	justify-content: space-between;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 0 20px;
	margin-top: 10px;
	background: linear-gradient(to bottom right,#009dda, #00a8e7, #00b3f3, #00bfff, #2dcbff, #44d7ff, #56e2ff);
}
.footer__link1 {
}
.footer__github img {
	height: 50px;
	margin-top: 15px;
}
.footer__rss {
}
.footer__text img {
	height: 50px;
}
.footer__link2 {
}
